# Włącz Rewrite Engine
RewriteEngine On

# Obsługa React (przekierowanie na index.html dla nieistniejących plików lub katalogów)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]

# Wyłącz wyświetlanie zawartości katalogów
Options -Indexes

